.bar-titles {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 28px;
    padding: 20px;
    padding-left: 10px;
}

#sidebar {
    z-index: 2;
}

.full-height {
    height: 100%;
}

.row {
    float: left;
}

.fixed {
    position: fixed;
}

.icon {
    display: flex;
}

.deck {
    text-align: center;
    border: 1px solid #e1e4e8;
    background-color: #f6f8fa;
    border-radius: 15px;
    height: 250px;
    width: 300px;
    margin: 25px;
}

.deck:hover {
    background-color: gold;
}

.deck-inner {
    text-align: center;
}

.deck-inner-text {
    text-align: left;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.deck-inner-text h2 {
    margin-top: 5px;
    font-size: 18px;
}

.deck-inner-text p {
    margin-top: -17px;
    padding-top: 0px;
    font-size: 14px;

    color: gray;
    font-style: italic;
}

.sharecode-p {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.deck-inner h1 {
    font-size: 24px;
}

.page-content {
    display: flex;
    flex-flow: wrap;
    
    padding: 25px;
    padding-left: 100px;
}

/*Deck creation*/

.deck-creation-top {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    width: 100%;

    padding-left: 50px;
    padding-right: 50px;
}

.deck-title-input{
    box-sizing: border-box;
    width: 400px;
    height: 40px;

    border-radius: 5px;
    border: 1px solid #e1e4e8;
    padding: 5px 12px;

    font-size: 20px;
    font-weight: 600;
}

.deck-image-selector {
    float: right;
    margin-top: 6px;
    border-radius: 5px;
    border: 1px solid #e1e4e8;
    padding: 10px;

    background-color: gold;
}

#image-block {
    float:right;
    margin-top: -40px;
}

.image-select-label {
    font-size: 18px;
}

.deck-creation-content {
    width: 100%;
}

.card-creation-container {
    border-radius: 5px;
    border: 4px solid #e1e4e8;
    width: 1000px;
    margin: auto;
    display:flex;

    margin-top: 25px;
    height: 400px;
}

.template-container {
    width: 60%;
    height: 90%;
    margin: auto;
    display: flex;
}

.single-side-template {
    width: 45%;
    margin: auto;

    border-radius: 5px;
    border: 1px solid black;
    float: right;

    height: 90%;

    font-size: 18px;
}

.single-side-template h1 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

textarea {
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.single-side-template form {
    margin-left: 5px;
}

.card-input {
    box-sizing: border-box;
    width: 80%;
    height: 30px;
    margin: auto;
    font-size: 18px;

    border-radius: 5px;
    border: 1px solid #e1e4e8;
}

#delete-card {
    height: 30px;
    position: relative;
    right: 110px;
    margin-top: 350px;
}

.card-navigate-btn {
    height: 40px;
    position: relative;
}

.prev-card-btn {
    left: 12px;
    margin-top: 20px;
}

.next-card-btn {
    margin-top: 20px;
    left: 90px;
}

.create-card-btn {
    position: relative;
    height: 50px;
    width: 120px;
    margin-top: 170px;
}

.create-deck-btn {
    position: relative;
    margin-top: 75px;
    height: 45px;
    width: 500px;
}

.deck-creation-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
    border-radius: 0.25em;
    border: 1px solid gray;
    position: absolute;
}

.card-container {
    width: 1200px;
    height: 600px;
    background-color:#e1e4e8;
    border: 1px solid gray;

    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.deck-home-btn {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    width: 100px;
    position: absolute;
    border-radius: 5px;
    background-color: gold;
    border: 4px solid goldenrod;

    font-style: italic;
    font-weight: bolder;

}

.flip-cards-btn {
    margin-top: -450px;
    margin-right: -900px;
}

.practice-cards-btn {
    margin-top: 480px;
    width: 130px;
    background-color: #28a745;
    border: 4px solid #1c7732;
}

.start-anki-btn {
    width: 200px;
    margin-right:-900px;
    margin-top: 480px;
}

.resume-anki-btn {
    width: 200px;
    margin-right: 900px;
    margin-top: 480px;
}

.deck-home-btn:active {
    transform:translateY(4px);
}

.anki-stats {
    position: absolute;
    margin-right: 900px;
    margin-top: -400px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.anki-stats h1 {
    font-size: 24px;
    margin-bottom: 0px;
}
